@font-face {
  font-family: 'Amplify';
  src: url('fonts/Amplify_PersonalUseOnly.ttf');
}

html {
  scroll-behavior: smooth;
}

#progress {
  height: 3px;
  margin-left: -1.25em;
  margin-right: -1.25em;
}

#progressBarA {
  background-color: #790000;
  width: 15%;
}

#progressBarB {
  background-color: white;
  width: 45%;
}

#progressBarC {
  background-color: #790000;
  width: 100%;
}

#progressBarD {
  background-color: #790000;
  width: 65%;
}

#progressBarE {
  background-color: white;
  width: 65%;
}

#progressBarF {
  background-color: #790000;
  width: 20%;
}

#progressBarG {
  background-color: #790000;
  width: 30%;
}


/* Section 1 */
#admin {
  text-decoration: none;
  font-size: 1em;
  color: white;
}

#admin:hover {
  color: #790000;
}

#section1 {
  background-image: url("img/SG.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 100px 1000px rgba(0, 0, 0, 1);
}

#titre {
  font-family: 'Amplify';
  font-size: 4.5em;
  margin-left: 0.5em;
}

#sstitre {
  font-size: 1em;
  margin-left: 15em;
  margin-top: -1.5em;
  padding-bottom: 15em;
}

/* ----- Vertical Nav ----- */
#navbar {
  margin-top: 4em;
  margin-bottom: 5em;
}

#drop {
  font-family: 'Amplify';
  font-size: 2em;
  color: white;
  background-color: transparent;
  border: none;
  text-decoration: none;
  padding-bottom: -10em;
}

.dropdown-menu {
  background-color: transparent;
  padding-right: 3em;
  padding-top: 13em;
  transition: all 0.5s ease;
}

#icon-bar {
  width: 300px;
  font-size: 1em;
}

.icon-bar a {
  padding: 0px;
  text-align: center;
  transition: all 0.5s ease;
  color: white;
  font-size: 3em;
  text-shadow: 0px 0px 20px black;
}

.icon-bar a:hover {
  background-color: auto;
  color: #790000;
  text-decoration: none;
}

.effetBar:hover {
  align-items: center;
  display: flex;
  text-align: center;
}

.effetBar:before,
.effetBar:after {
    color: white;
    border-top: 0.05em solid;
    content: "";/* nécessaire pour afficher les pseudo-éléments */
    flex: 1;/* partage le reste de la largeur disponible */
    margin: 0.5em;/* espace les traits du texte */
}

#liens {
  font-family: 'Amplify';
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  background-color: none;
}

#photo {
  height: 100%;
  max-width: 200px;
  border-radius: 60px;
  padding: 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin : 1em 4em 2em 4em;
}

#qui {
  margin-bottom: 6em;
  margin-left: 0em;
}

h2 {
  font-family: 'Amplify';
  font-size: 3em;
  text-shadow: 0px 0px 40px black;
}

h3 {
  font-family: 'Amplify';
  font-size: 3em;
}


/* Section 2 */
#section2 {
  background-image: url("img/Bass.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0 100px 1000px rgba(0, 0, 0, 1);
}

#section2 h2 {
  color: black;
  text-shadow: 0px 0px 40px white;
}

#projets {
  display: flex;
  width: 100%;
  height: 50vh;
}



/* Section 3 */

#section3 {
  background-image: url("img/Strato.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 100px 1000px rgba(0, 0, 0, 1);
}

#articles {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 50vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.box>img {
  width: 200%;
  height: calc(100% - 15vh);
  object-fit: cover;
  transition: .5s;
}

.box>span {
  display: block;
  text-align: center;
  margin-bottom: 1em;
  line-height: 1.3;
  background: rgba(0, 0, 0, 0.4);
  font-family: 'Amplify';
  font-size: 1.7em;
  height: 100%;
  color: white;
}

.box:hover {
  flex: 1 1 50%;
  text-decoration: none;
}

.box:hover>img {
  width: 100%;
  height: 100%;
}



/* Section 4 */
#section4 {
  background-image: url("img/Batterie.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0 100px 1000px rgba(0, 0, 0, 1);
}

#section4 p {
  font-size: 3em;
  font-family: 'Amplify';
  color: white;
  text-shadow: 0px 0px 20px black;
  margin-top: 2em;
}


/* Footer */
#footer {
  background-color: #2a2a2e;
  box-shadow: 0 100px 1000px rgba(0, 0, 0, 1);
}

#phil {
  font-family: 'Amplify';
  font-size: 3em;
  margin-bottom: 0.3em;
}

#dev {
  margin-top: -1.5em;
}

.logoGithub {
  max-width: 50px;
}

.logoLinkedin {
  max-width: 50px;
}

#clic img:last-child {
  display: none;
}

#clic:hover img:last-child {
  display: block;
}

#clic:hover img:first-child {
  display: none;
}

/* ----- Page "article" ----- */
#article {
  background-image: url("img/Tube.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0 100px 1000px rgba(0, 0, 0, 1);
}

#titreArticle {
  font-family: 'Roboto';
  font-size: 4.5em;
}

#photoArticle {
  height: 100%;
  max-width: 500px;
  border-radius: 10px;
  padding: 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin : 1em 4em 2em 4em;

}

/* ----- Page "noway" pour tester les liens ----- */
#containerNoWay {
  margin-top: 10rem;
  padding-bottom: 10rem;
}


/* Media Queries */
@media (min-width: 476px) {
  .dropdown-menu {
    padding-right: -1em;
    padding-top: 7.5em;
  }
}

@media (min-width: 576px) {
  #qui {
    margin-left: 3em;
  }
  #sstitre {
    margin-left: 20em;
    padding-bottom: 10em;
  }

  .dropdown-menu {
    padding-right: 0em;
    padding-top: 16em;
  }

  #phil {
    font-size: 3.5em;
  }
}

@media (min-width: 768px) {
  .dropdown-menu {
    padding-right: 3em;
    padding-top: 16em;
  }
}

@media (min-width: 768px) {
  .box>span {
    font-size: 2em;
  }

  #articles {
    height: 60vh;
  }

  #projets {
    height: 60vh;
  }

  #titre {
    font-size: 5em;
  }

  #sstitre {
    margin-left: 28em;
  }

  .dropdown-menu {
    padding-right: 10em;
    padding-top: 16em;
  }
}

@media (min-width: 992px) {
  .box>span {
    font-size: 2.3em;
  }

  #articles {
    height: 70vh;
  }

  #projets {
    height: 70vh;
  }

  #titre {
    padding-top: 0em;
  }

  #sstitre {
    margin-bottom: 0em;
  }

  #navbar {
    margin-top: 0em;
    margin-bottom: -10em;
  }

  #qui {
    padding-bottom: 4em;
    margin-left: 0em;
  }

  #photo {
    margin : 0em 4em 4em 8em;
  }

  #section4 p {
    font-size: 3.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .dropdown-menu {
    padding-right: 1em;
    padding-top: 1em;
  }

  #phil {
    font-size: 4em;
  }
}

@media (min-width: 1200px) {
  #titre {
    padding-top: 0em;
    margin-left: 0.5em;
  }

  #sstitre {
    margin-left: 25.5em;
  }

  #articles {
    height: 80vh;
  }

  #projets {
    height: 80vh;
  }

  .box>span {
    font-size: 2.5em;
  }

  #qui p {
    font-size: 1.1em;
  }

  #navbar {
    margin-top: -12em;
    margin-bottom: 6em;
  }

  #section4 p {
    font-size: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 4em;
  }
  #icon-bar {
    width: 400px;
    font-size: 1.3em;
  }
}

@media (min-width: 1500px) {
  #titre {
    padding-top: 0em;
    margin-left: 1em;
    font-size: 5.5em;
  }

  #sstitre {
    margin-left: 31.3em;
  }

  #articles {
    height: 90vh;
  }

  #projets {
    height: 90vh;
  }

  .box>span {
    font-size: 3em;
  }

  #qui p {
    font-size: 1.2em;
  }
  #icon-bar {
    width: 500px;
  }
}

@media (min-width: 1800px) {
  #titre {
    font-size: 6em;
    margin-left: 1em;
  }

  #sstitre {
    margin-left: 34.5em;
  }

  h3 {
    font-size: 4em;
  }

  #qui p {
    font-size: 1.3em;
  }
  #icon-bar {
    width: 500px;
    font-size: 1.5em;
  }
}
